body {
    background-color: rgb(238, 237, 237);
}


/* this is the nav link section */

.MainDiv {
    margin: 0 10% 0 10%;
    justify-content: center;
}

.Navbar {
    background-color: #fdfdfd;
    overflow: hidden;
    display: flex;
    justify-content: left;
    border-radius: 50px;
    margin-top: 60px;
    margin-bottom: 30px;
}

.Navbar a {
    overflow: hidden;
    padding: 10px 15px;
    color: rgb(111, 111, 111);
    text-decoration: none;
}

.Heroimage {
    width: 900%;
    height: 500px;
    border-radius:20% 0 20% 20%;
}

.Navlink ul {
    display: flex;
    align-items: center;
    list-style-type: none;
    margin-left: 175%;
    white-space: nowrap;
    /* padding-right: 20px; */
}

.Navbar a:hover {
    text-decoration: underline;
}

.icon {
    padding-top: 7px;
    padding-left: 15px;
}


/* This is the hero section */
.Insurance {
    display: flex;
    justify-content: center;
    margin-top: 0px;
}

.Insurance img {
    max-width: 50%;
    margin-right: 4px;
}

.Hero-head {
    /* margin: 10px; */
    font-size: 16px;
    padding-right: 6px;
    padding-left: 5px;
    color: rgb(42, 42, 42);
}

.Hero-head  h1 {
    margin: 0px;
    font-size: 70px;
    font-family:Arial, Helvetica, sans-serif;
    padding-top: 5px;
    color: rgb(42, 42, 42);
    max-width: 100%;
    line-height: 70px;
}

.Custom-button {
    background-color:#007A5E;
    border: 2px solid #007A5E;
    color: white;
    padding: 15px 30px;
    text-align: center;
    text-decoration: none;
    font-size: 20px;
    letter-spacing: 1.5px;
    border-radius: 50px;
    cursor: pointer;
    text-indent: px;
  }

  .ConButton {
    background-color: rgb(25, 25, 25);
    border: 2px solid rgb(25, 25, 25);
    border-radius: 40px;
    padding: 15px 20px;
    text-decoration: none;
    color: white;
    letter-spacing: 1px;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    cursor: pointer;
  }

 /* This for the middle design */
  .Overall {
    margin-top: 100px;
    /* border-radius: 10px; */
    padding-left: 30px;
    padding-right: 30px;
    background-color:#1B2F27;
    /* border-style: ; */
    color: white;
  }

  .firstpart {
    margin: auto;
    font-size: 45px;
    line-height: 21px;
    font-weight: 350;
  }

  .Services {
    background-color: white;
    border-color: white;
    font-size: 20px;
    font-weight: lighter;
    margin-top: 70px;
    border-radius: 0 25px 0 0;
    padding: 12px 13px;
    border: 50px;
    color: rgb(21, 21, 21);
    font-family: Arial, Helvetica, sans-serif;
  }

  .firsthead {
    display: flex;
    margin-top: 60px;
    margin-bottom: 30px;
    /* align-self: flex-start; */
  }

  .H1 {
    font-size: 95px;
    margin-top: 0;
    /* align-self: flex-start; */
  }

  .Header1 {
    font-size: 35px;
    font-weight: 400;
    line-height: 10px;
    margin-left: 50px;
    margin-top: 0;
    align-self: flex-start;
  }


  .H1P {
    margin-left: 105px;
    letter-spacing: 0.7px;
    font-weight: 300;
  }

  
  .secondhead {
    display: flex;
    margin-top: 60px;
    margin-bottom: 30px;
    /* align-self: flex-start; */
  }


  .H2 {
    font-size: 70px;
    margin-top: 0;
  }

  .Header2 {
    font-size: 30px;
    font-weight: 400;
    line-height: 10px;
    margin-left: 40px;
    margin-top: 0;
    align-self: flex-start;
  }


  .H2P {
    margin-left:58px;
    letter-spacing: 0.7px;
    font-weight: 300;
  }


  .thirdhead {
    display: flex;
    margin-top: 60px;
    margin-bottom: 30px;

  }

  .H3 {
    font-size: 70px;
    margin-top: 0;
  }

  
  .Header3 {
    font-size: 30px;
    font-weight: 400;
    line-height: 10px;
    white-space: nowrap;
    margin-left: 40px;
    margin-top: 0;
    align-self: flex-start;
  }


  .H3P {
    margin-left:70px;
    letter-spacing: 0.7px;
    font-weight: 300;
  }




  .fourthhead {
    display: flex;
    margin-top: 60px;
    /* margin-bottom: 80px; */
    /* align-self: flex-start; */
  }

  .H4 {
    font-size: 70px;
    margin-top: 0;
    /* align-self: flex-start; */
  }

  .Header4 {
    font-size: 30px;
    font-weight: 400;
    line-height: 10px;
    margin-left: 50px;
    margin-top: 0;
    align-self: flex-start;
  }


  .H4P {
    margin-left: 129px;
    letter-spacing: 0.7px;
    font-weight: 300;
  }

  .app1 {
    margin-top: auto;
    /* border-radius: 10px; */
    background-color: rgb(178, 208, 222);
  }

  .app2 {
    background-color: white;
    border-color: white;
    font-size: 20px;
    font-weight: lighter;
    margin-top: 70px;
    border-radius: 0 25px 0 0;
    padding: 12px 13px;
    margin-bottom: 30px;
    border: 50px;
    color: rgb(21, 21, 21);
    font-family: Arial, Helvetica, sans-serif;
  }

  .secondpart {
    margin-left: 90px;
    margin-bottom: 35px;
  }

  .secondpart h3 {
    font-family: Arial, Helvetica, sans-serif;
    margin: auto;
    font-size: 45px;
    line-height: 60px;
    font-weight: 350;
  }

  .P2 {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 35px;
    margin-left: 90px;
    letter-spacing: 1.3px;
    padding: 80px;
    border-radius: 0 100px 0 0;
    background-color: #1B2F27;
    color: white;
    line-height: 45px;
  }

  .app3 {
    margin-top: auto;
    background-color:  rgb(238, 237, 237);
  }


    .secondpart h3 {
    font-family: Arial, Helvetica, sans-serif;
    margin: auto;
    font-size: 50px;
    line-height: 60px;
    font-weight: 350;
  }


  .app4 {
    background-color: rgb(13, 13, 13);
    /* border-color: white; */
    font-size: 20px;
    font-weight: lighter;
    margin-top: 70px;
    border-radius: 0 25px 0 0;
    padding: 12px 13px;
    margin-bottom: 2%;
    border: 50px;
    color: rgb(255, 255, 255);
    font-family: Arial, Helvetica, sans-serif;
  }

.image-container {
    display: flex;
    border: 2px solid black;
    margin-left: 8%;
}

.image {
    text-align: center;
    padding: 10px;
}

.image img {
  object-fit: cover;
    margin-top: 10%;
    width: 200px;
    height: auto;
    border-radius: 200px 200px 200px 0;
    align-items: center;
}

.divider {
  flex-grow: 1;
    border-left: 2px solid black;
    height: 350px;
    width: 20px;
    margin: 0 20px;
}

.Name1 {
  font-weight: 700;
}

.Name2 {
  font-weight: 700;
}

.Name3 {
  font-weight: 700;
}